<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Edit Page</title>
</head>

<body>
    <form action="/phones/<%= phone.id%>?_method=PUT" method="POST">

        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%=phone.name%>"> <br>

        <label for="img">Image:</label>
        <input type="text" name="img" value="<%=phone.img%>"> <br>
        <div>
            <label for="launched">Launched:</label>
            <input type="text" name="launched" value="<%=phone.launched%>"> <br>
            <label for="display">Display:</label>
            <input type="text" name="display" value="<%=phone.display%>"> <br>
            <label for="memory">Memory</label>
            <input type="text" name="memory" value="<%=phone.memory%>"> <br>
            <label for="camera">Camera:</label>
            <input type="text" name="camera" value="<%=phone.camera%>"> <br>
        </div>
        <label for="price">Price:</label>
        <input type="text" name="price" id="price" value="<%=phone.price%>"> <br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>