<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title>Speccs</title>
</head>

<body>
    <div class="container0">
        <div class="header">
            <h1 class="head"> Speccs</h1>
        </div>

        <div class="nav1">
            <nav class="list">
                <div class="nav"><a href="/phones/new">Add New Listing</a></div>
                <div class="nav col-sm-9"><h2>Apple</h2>
                    <a href="http://localhost:3000/phones/5f9c4bbbab3d5d2fbd383eb4">Apple iPhone X</a>
                    <a href="http://localhost:3000/phones/5fa0642c725956818d5b3911">Apple iPhone 12 Pro</a>
                    <a href="http://localhost:3000/phones/5fa4d33557b0ea00f7659baa">Apple iPhone 12 mini</a>
                </div>
                <div class="nav"><h2>Samsung</h2>

                </div>
            </nav>
        </div>
        <div class="container1">
            <ul>
                <div>
                    <% for( let i = 0; i < phones.length; i++ ) { %>
                    <div class="col-sm-4">
                        <div class="content">
                            <h1 class="name card-title"><%= phones[i].name %> </h1>
                            <a href="/phones/<%= phones[i].id %>"><img src=" <%= phones[i].img %>  " alt=""></a> <br>
                            <!-- Description: <p class="descrip"><%= phones[i].description %> </p>  -->
                            <h3>$<%= phones[i].price %></h3>
                            
                            <button class="btn btn-default" id="button"><a href="/phones/<%= phones[i].id %>/edit">EDIT</a></button>
                            <form action="/phones/<%= phones[i].id%>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-default" id="edit" value="DELETE" />
                            </form>
                            
                        </div>
                    </div>


                    <!-- </div> -->
                    <% } %>
                </div>
            </ul>
        </div>
        <footer class="footer"></footer>
    </div>



</body>

</html>