<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>
</head>
<body>
    <h1>Products Page</h1>
    <ul>
        <nav>
            <a href="phones/new">Add New Listing</a>
        </nav>
        <% for( let i = 0; i < phones.length; i++ ) { %>
            <h1><%= phones[i].name %> </h1>
            <a href="/phones/<%= phones[i].id %>"><img src=" <%= phones[i].img %>  " alt=""></a> <br>
            Description: <p><%= phones[i].description %> </p> 
            Price: <h3><%= phones[i].price %></h3>
            

            <form action="/phones/<%= phones[i].id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
            </form>

            <a href="/phones/<%= phones[i].id %>/edit">Edit</a>
        <% } %> 
            
       
        
    </ul>
</body>
</html>