<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="../show.css" type="text/css">
    <title><%= phone.name %></title>
</head>
<body>
    <div class="container">
        <div class="pic">     
            <h1><%= phone.name %> </h1>
            <div class="price">  Price: <h3>$<%= phone.price %></h3></div>
            <a href="/phones/<%= phone.id %> "><img src=" <%= phone.img %>" alt=""></a> <br>
        </div>
   
        <div class="description">
            <!-- Description: <div class="description"> -->
            <div class="desc">Launched: </div><p class="des"> <%= phone.launched %> </p> <br>
            <div class="desc">Display:</div> <p class="des"> <%= phone.display %> </p> <br>
            <div class="desc">Memory:</div>  <p class="des"> <%= phone.memory %> </p> <br>
            <div class="desc">Camera:</div>  <p class="des"> <%= phone.camera %> </p> <br>
            <!-- Quanti</div>ty: <h3><%= phone.qty %></h3> -->
        
        <nav>
            <a href="/phones">Back to search</a>
        </nav>
    </div>
</body>
</html>